
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
  
  .page {
    background-color: #fff;
    /* color: #333; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px;
    cursor: pointer;
    font-weight: bold
  }
  
  .active {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 36px;
    border-radius: 20px; 
  }

  .button {
    padding: 8px 12px;
    margin: 4px;
    border: 1px solid #f2efef;
    cursor: not-allowed;
    background-color: #ddd;
  }
  

  